<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.joinmapper.dao.TableOneMapper">
    <resultMap id="BaseResultMap" type="com.github.joinmapper.model.TableOne">
        <id property="id" column="a_id"></id>
        <result property="code" column="a_code"></result>
        <!--<association property="tableTwo" javaType="TableTwo">
            <id property="id" column="b_id"></id>
            <result property="code" column="b_code"></result>
        </association>-->
        <collection property="tableTwoList" ofType="com.github.joinmapper.model.TableTwo">
            <id property="id" column="b_id"></id>
            <result property="code" column="b_code"></result>
        </collection>
    </resultMap>
    <select id="getCount" resultType="java.lang.Integer">
        select count(*) from table_one
    </select>

    <select id="selectJoin_" resultMap="BaseResultMap">
        select a.id as a_id,a.code as a_code,b.id as b_id,b.code as b_code from table_one a LEFT JOIN table_two b on
        a.id = b.id
    </select>
</mapper>